# Used by pip to find and resolve dependencies.
# Abstract dependencies are specified in setup.py.
# Concrete dependencies are specified here.

# Install from local git repo, then setup.py
-e .

# dev requirements
pytest
twine
